<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let element of headerElements">
        <button *ngIf="element.nested; else onlyLink" mat-menu-item [matMenuTriggerFor]="publicContentNested"><mat-icon>{{element.icon}}</mat-icon> {{element.text}}</button>
        <ng-template #onlyLink>
          <a [routerLink]="element.url"  mat-menu-item>
            <mat-icon>{{element.icon}}</mat-icon>
            <span>{{element.text}}</span>
          </a>
        </ng-template>
      </ng-container>
    </mat-menu>
    <mat-menu #publicContentNested="matMenu">
      <a *ngFor="let nested of publicContentMenuElements" [href]="nested.url" button mat-menu-item>{{nested.text}}</a>
    </mat-menu>
    <span>{{activeName}}</span>
    <span class="example-spacer"></span>
    <span>{{headerTitle}}</span>
    <button mat-icon-button class="example-icon" (click)="logOut()" aria-label="Example icon-button with logout icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
