<div class="login-page-container">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Bejelentkezés</mat-card-title>
            <mat-card-subtitle>Kérjük, jelentkezzen be az admin felületre a megfelelő felhasználói fiókkal!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
                <mat-form-field class="login-form-field" appearance="fill">
                    <mat-label>Email cím</mat-label>
                    <input matInput placeholder="email cím..." formControlName="email">
                    <mat-hint>Kérjük adja meg az email címét!</mat-hint>
                    <mat-error *ngIf="loginForm.controls.email.hasError('required')">Az email cím kötelező mező.</mat-error>
                    <mat-error *ngIf="loginForm.controls.email.hasError('email')">Hibás formátumú email cím.</mat-error>
                </mat-form-field>
                <mat-form-field class="login-form-field" appearance="fill">
                    <mat-label>Jelszó</mat-label>
                    <input matInput placeholder="jelszó..." type="password" formControlName="password">
                    <mat-hint>Kérjük adja meg az email címhez tartozó jelszavát!</mat-hint>
                    <mat-error *ngIf="loginForm.controls.password.hasError('required')">Az jelszó kötelező mező.</mat-error>
                </mat-form-field>
                <button class="submit-button" mat-raised-button color="primary">Bejelentkezés</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
